<h2>New User</h2>

<div class="registration_form">
  <ul>
<%= form_for @user do |u| %>
  <li><%= u.label :name %></li>
  <%= u.text_field :name %>
  <li><%= u.label :password %></li>
  <%= u.password_field :password %>
  <li><%= u.label :password_confirmation %></li>
  <%= u.password_field :password_confirmation %>
  <li><%= u.submit "Submit" %></li>
  <% end %>

<h3><li><%= link_to 'Login', new_session_path %></h3></li>
  </ul>
</div>