<h2>Edit Book</h2>


<div class="item_form">
  <ul>
    <%= form_for @book do |book| %>
      <li><%= book.label :name %></li>
      <%= book.text_field :name, value: @book.name %>
      <li><%= book.label :author %></li>
      <%= book.text_field :author, value: @book.author %>
      <li><%= book.submit "Submit" %></li>
    <% end %>
   <br><li><%= link_to 'Delete', book_path(@book), method: :delete %></li>
  </ul>
</div>