<h2>Add Books</h2>
<div class="book_form">
<ul>
  <%= form_for @books do |book| %>
    <li><%= book.label :name %></li>
    <%= book.text_field :name %>
    <li><%= book.label :author %></li>
    <%= book.text_field :author %>
    <li><%= book.submit "Submit" %></li>

  <% end %>
</ul>
</div>