<h2>Add Albums</h2>

<div class="item_form">
  <ul>
<%= form_for @album do |album| %>
<li><%= album.label :title %></li>
  <%= album.text_field :title %>
 <li><%= album.label :artist %></li>
 <%= album.text_field :artist %>
 <li><%= album.submit "Submit" %></li>
<% end %>
  </ul>
</div>