<!DOCTYPE html>
<html>
<head>
  <title>AssessPrep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <ul class="pull_right">

    <li><a href="/books">View Books</a></li>
  </ul>
</div>

<%= yield %>
<div class="messages">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
</div>
</body>
</html>
